BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "CLK_SYS" 24.000000 MHz ;
IOBUF PORT "CLK_ENC" IO_TYPE=LVCMOS25 ;
IOBUF PORT "ENC_ENC" IO_TYPE=LVCMOS25 HYSTERESIS=LARGE ;
IOBUF PORT "MCU_RD" IO_TYPE=LVCMOS25 PULLMODE=UP HYSTERESIS=LARGE ;
IOBUF PORT "MCU_WR" IO_TYPE=LVCMOS25 PULLMODE=UP HYSTERESIS=LARGE ;
IOBUF PORT "CLK_SYS" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "BOARD_SEL[0]" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "BOARD_RD" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "LASER_EM" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "BOARD_WR" IO_TYPE=LVCMOS25 PULLMODE=UP ;
IOBUF PORT "LASER_BIDIR_DATA[7]" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "LASER_BIDIR_DATA[6]" IO_TYPE=LVCMOS25 PULLMODE=DOWN ;
IOBUF PORT "CLK_ROW" IO_TYPE=LVCMOS25 PULLMODE=UP HYSTERESIS=LARGE ;
IOBUF PORT "CLK_ROW2" IO_TYPE=LVCMOS25 PULLMODE=UP HYSTERESIS=LARGE ;
IOBUF PORT "CLK_RPT" IO_TYPE=LVCMOS25 PULLMODE=UP HYSTERESIS=LARGE ;
SSO PORT CLK_PX_LASER SSO_Noise_Drop=0 ;
LOCATE COMP "CLK_SYS" SITE "19" ;
LOCATE COMP "CLK_SYS_TEST_O" SITE "142" ;
LOCATE COMP "CLK_ROW" SITE "128" ;
LOCATE COMP "CLK_ROW2" SITE "125" ;
LOCATE COMP "CLK_PX_LASER" SITE "138" ;
LOCATE COMP "CLK_PX_AOD" SITE "139" ;
LOCATE COMP "CLK_RPT" SITE "115" ;
LOCATE COMP "CLK_ENC" SITE "113" ;
LOCATE COMP "MCU_BIDIR_DATA[0]" SITE "97" ;
LOCATE COMP "MCU_BIDIR_DATA[1]" SITE "98" ;
LOCATE COMP "MCU_BIDIR_DATA[2]" SITE "95" ;
LOCATE COMP "MCU_BIDIR_DATA[3]" SITE "96" ;
LOCATE COMP "MCU_BIDIR_DATA[4]" SITE "93" ;
LOCATE COMP "MCU_BIDIR_DATA[5]" SITE "94" ;
LOCATE COMP "MCU_BIDIR_DATA[6]" SITE "86" ;
LOCATE COMP "MCU_BIDIR_DATA[7]" SITE "92" ;
LOCATE COMP "MCU_RD" SITE "99" ;
LOCATE COMP "MCU_WR" SITE "100" ;
LOCATE COMP "MCU_RESET" SITE "81" ;
LOCATE COMP "MCU_RTS_MCU" SITE "78" ;
LOCATE COMP "MCU_MARK_EN" SITE "70" ;
LOCATE COMP "MCU_MARKING" SITE "84" ;
LOCATE COMP "MCU_BUFF_SEL" SITE "83" ;
LOCATE COMP "MCU_MEM_SEL" SITE "82" ;
LOCATE COMP "MCU_DATA_SEL" SITE "76" ;
LOCATE COMP "MCU_LOCK_PARAMREG" SITE "69" ;
LOCATE COMP "LASER_ESTOP" SITE "119" ;
LOCATE COMP "LASER_EM" SITE "121" ;
LOCATE COMP "LASER_EE" SITE "122" ;
LOCATE COMP "LASER_GUIDE" SITE "126" ;
LOCATE COMP "LASER_SYNCH" SITE "127" ;
LOCATE COMP "LASER_PWR_LATCH" SITE "117" ;
LOCATE COMP "LASER_BIDIR_DATA[0]" SITE "56" ;
LOCATE COMP "LASER_BIDIR_DATA[1]" SITE "57" ;
LOCATE COMP "LASER_BIDIR_DATA[2]" SITE "58" ;
LOCATE COMP "LASER_BIDIR_DATA[3]" SITE "59" ;
LOCATE COMP "LASER_BIDIR_DATA[4]" SITE "60" ;
LOCATE COMP "LASER_BIDIR_DATA[5]" SITE "61" ;
LOCATE COMP "LASER_BIDIR_DATA[6]" SITE "62" ;
LOCATE COMP "LASER_BIDIR_DATA[7]" SITE "63" ;
LOCATE COMP "ENC_DIR" SITE "109" ;
LOCATE COMP "ENC_ENC" SITE "111" ;
LOCATE COMP "BOARD_WR" SITE "54" ;
LOCATE COMP "BOARD_RD" SITE "55" ;
LOCATE COMP "BOARD_SEL[1]" SITE "45" ;
LOCATE COMP "BOARD_SEL[0]" SITE "50" ;
LOCATE COMP "BOARD_FUNC_SEL[0]" SITE "48" ;
LOCATE COMP "BOARD_FUNC_SEL[1]" SITE "43" ;
LOCATE COMP "BOARD_FUNC_SEL[2]" SITE "49" ;
LOCATE COMP "GLV_DO[0]" SITE "12" ;
LOCATE COMP "GLV_DO[1]" SITE "11" ;
LOCATE COMP "GLV_DO[2]" SITE "14" ;
LOCATE COMP "GLV_DO[3]" SITE "13" ;
LOCATE COMP "GLV_DO[4]" SITE "17" ;
LOCATE COMP "GLV_DO[5]" SITE "15" ;
LOCATE COMP "GLV_DO[6]" SITE "21" ;
LOCATE COMP "GLV_DO[7]" SITE "20" ;
LOCATE COMP "GLV_DO[8]" SITE "23" ;
LOCATE COMP "GLV_DO[9]" SITE "22" ;
LOCATE COMP "GLV_DO[10]" SITE "25" ;
LOCATE COMP "GLV_DO[11]" SITE "28" ;
LOCATE COMP "GLV_DO[12]" SITE "31" ;
LOCATE COMP "GLV_DO[13]" SITE "26" ;
LOCATE COMP "GLV_DO[14]" SITE "27" ;
LOCATE COMP "GLV_DO[15]" SITE "24" ;
LOCATE COMP "GLV_LDACQ" SITE "6" ;
LOCATE COMP "GLV_CLRQ" SITE "5" ;
LOCATE COMP "GLV_CSQ" SITE "9" ;
LOCATE COMP "GLV_WRQ" SITE "10" ;
